.journal-page {
    color:rgb(0, 0, 0)
}

.journal-page h1 {
    color: #860000
}

.journal-page header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.journal-page .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* DREAM JOURNAL  */

.journal-page table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .journal-page  th, .journal-page td {
    padding: 10px;
  }
  
  .journal-page th {
    background-color: #000b5e;
    color: #fff
  }
  
  .journal-page tr:nth-child(even) {
    background-color: #f9f9f9;
    color: #181542
  }