:root {
  --color-primary: #727272;
  --color-secondary: #3a0070;
  --color-tertiary: #181542;
  --color-light: #fff;
  --font: "Poppins-EctraLight"
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
font-family: "Poppins-EctraLight";
src: url(./fonts/Poppins-ExtraLight.ttf);
}

@font-face {
font-family: "Barlow-Light";
src: url(./fonts/Barlow-Light.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 86%;
  margin: 0 auto;
}

a {
  color: white;
  font-size: 0.9rem;
}

body {
  font-family: "Montserrat-Light", sans-serrif;
  width: 100%;
  height: 100vh;
}

body:has(.landing-page) {
  background: url("https://searchthisweb.com/wallpaper/girl_6000x4000_tsjjm.jpg") no-repeat center center/cover;
}

/* ======= NAVIGATION BAR ======= */

header {
  position: fixed;
  width: 100%;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo {
  display: flex;
  align-items: center;
  color: var(--color-light);
  font-family: 'Barlow-Light';
}

header .logo img {
  width: 1.5rem;
  margin-right: 10px;
}

header .logo h1 {
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

header nav input,
header nav #toggle-nav {
  display: none;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

a {
  transition: all 300ms ease;
}

nav a:hover {
  color: var(--color-tertiary);
}

nav ul li a.active {
  font-weight: 700;
}

/* ====== HEADER SECTION ======= */
section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  left: 0;
  text-align: center;
  color: var(--color-light);
}

section .container h1 {
  text-align: left;
  font-size: 4rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  /* text-transform: uppercase; */
}

section .container h3 {
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  margin-bottom: 3rem;
  text-align: left;
}

section .container input[type="search"] {
  background: transparent;
  border: 1px solid var(--color-light);
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
  color: var(--color-light);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

section .container input[type="search"]::placeholder {
  color: var(--color-light);
  letter-spacing: 0.1rem;
}

section .container p {
  letter-spacing: 0.06rem;
  font-size: 0.8rem;
  line-height: 1.7;
  font-weight: 300;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

section .container a {
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 0.7rem 3rem;
  margin: 0.4rem;
  border-radius: 2rem;
  position: relative;
  transition: all 300ms ease;
}

section .container a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border-left: 5px solid var(--color-primary);
  z-index: 0;
  transition: all 300ms ease;
}

section .container a:hover {
  background: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-primary)
  );
}

h3 span {
  white-space: nowrap;
}

.section-page-1 {
  background: var(--color-secondary);
}

.section-page-2 {
  background: var(--color-tertiary);
}

.section-page-3 {
  background: #751000;
}

/* .login-page {
  background: var(--color-secondary);
} */

/* FOOTER  */
footer {
  background: black;
  display: grid;
  place-items: center;
  width: 100%;
  height: 20vh;
  position: relative;
  left: 0;
  text-align: center;
  color: var(--color-light);
}

footer .logo {
  display: flex;
  align-items: center;
  color: var(--color-light);
  font-family: 'Barlow-Light';
}

footer .logo img {
  width: 1.5rem;
  margin-right: 10px;
}

footer .logo h1 {
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

/* ======= MEDIA QUERY FOR SMALLER SCREENS ======= */
@media screen and (max-width: 700px) {

  /* NAVIGATION BAR */
  header {
    padding: 1rem 1.5rem;
  }

  /* SHOW NAVIGATION MENU ON CHECKED */
  header nav #show-nav:checked ~ ul {
    display: block;
  }

  header nav #toggle-nav {
    display: inline-block;
    color: var(--color-light);
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 300ms ease;
  }

  header nav #toggle-nav:hover {
    color: var(--color-primary);
  }

  header nav ul {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    width: 100%;
  }

  header nav li {
    text-align: center;
    background: var(--color-primary);
    padding: 2rem 0;
    transition: all 300ms ease;
    cursor: pointer;
  }

  header nav li:hover {
    background: var(--color-tertiary);
  }

  section .container h1 {
    line-height: 1.4;
    font-size: 3rem;
  }

  /* HEADER SECTION */
  section .container h3 {
    line-height: 2;
    font-size: 1.2rem;
  }

  section .container a {
    padding: 1rem 2rem;
  }
}