.login-page .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #45a049
}

.login-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #45a049
}

.login-page .form-group {
    margin-bottom: 20px;
}

.login-page label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-page input[type="text"],
.login-page input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-page button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-page button[type="submit"]:hover {
    background-color: #45a049;
}
