
.map-page  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* DREAM MAP */
.map-page .toolbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.map-page .tool {
    flex-basis: 20%;
    text-align: center;
    margin: 10px;
    color: #000b5e;
}

.map-page .tool img {
    width: 50px;
    height: 40;
    object-fit: cover;
    clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0 50%);
}

.map-page polygon {
    transform-box: fill-box;
    transform-origin: 50% 50%;
}
.map-page polygon:hover {
    fill: rgb(199, 35, 35);
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.map-page svg {
    width: 100%;
    height: 500px;
}

.dream-map {
    background-color: #fff;
    /* overflow: scroll; */
    width: fit-content;
    height: 300px;
}