.forum-page {
    color:rgb(0, 0, 0)
}

.forum-page h1 {
    color: #860000
}

.forum-page header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.forum-page .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forum-page .forum-section {
    margin-bottom: 40px;
}

.forum-page h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.forum-page .forum-post {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.forum-page h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.forum-page p {
    margin-bottom: 10px;
}

.forum-page .post-details {
    font-size: 0.8rem;
    color: #888;
}

.forum-page .author::after {
    content: " |";
    margin: 0 5px;
}

.forum-page .date {
    margin-left: 5px;
}